<!-- THIS FUNCTION IS WORKING.  KEEP THAT IN MIND WHEN APPLYING DIFFERENT METHOD -->
<html lang="en">
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Language of the ASCII -->
        <meta charset="UTF-8" />

        <!-- Using style sheet.  Overall style -->
        <link rel="stylesheet" href="css/style.css">
        <!-- This is for the design on the registration -->
        <link rel="stylesheet" href="css/form.css">

        <link rel="stylesheet" href="css/checkout.css">

        <link rel="stylesheet" href="css/search.css">
        



        <!-- Apple created a meta element to address mobile screen -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    </head>
<body>
    <div class="logotwo">
        <a href="http://localhost:3000/main"><img src="../images/logo.jpg" alt="Logo" ></a>
    </div>

    <form action="/action_page.php" method="post">
    
        <div class="container">
            {{{body}}}
        </div>
    </form>
    <p>Copyright | About Us | Contact Us</p>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>

