<!DOCTYPE html>
<html lang="en">

    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Language of the ASCII -->
        <meta charset="UTF-8" />

        <!-- This is for the search bar properties -->
        <link rel="stylesheet" href="css/search.css">

        <!-- This is for the product card properties, which has the image, pricing, description, etc. -->
        <link rel="stylesheet" href="css/product-card.css">

        <!-- This is testing out with the login verification button-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        
        <!-- Using style sheet.  Overall style -->
        <link rel="stylesheet" href="css/style.css">

        <!-- This is for the design on the registration -->
        <link rel="stylesheet" href="css/form.css">

        <!-- This is for the checkout layout of the pages -->
        <link rel="stylesheet" href="css/checkout.css">




        <!-- Apple created a meta element to address mobile screen -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />



        <!-- Apple created a meta element to address mobile screen -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>
            Winsdar
        </title>

    </head>
    <body>
        {{{body}}}
        <p>Copyright | About Us | Contact Us</p>
    </body>



    
    
    


</html>