<!DOCTYPE html>
<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Language of the ASCII -->
        <meta charset="UTF-8" />

        <!-- Using style sheet.  Overall style -->
        <link rel="stylesheet" href="../assets/css/style.css">
        <!-- This is for the design on the registration -->
        <link rel="stylesheet" href="../assets/css/form.css">

        <link rel="stylesheet" href="../assets/css/checkout.css">



        <!-- Apple created a meta element to address mobile screen -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    </head>

    <body>

        <!-- Logo of the webpage -->
        <!-- This is going to be used on the repeat on the pages related to one another.  DO NOT change this particular code since it'll be the default plate. -->

        <div class="logotwo">
            <img src="../images/logo.jpg" alt="Logo" >
        </div>

        <form action="/action_page.php" method="post">

            <!-- Inside this container, will be the new set of codes for the handlebars.  We'll need to change the masking of it by including the {{{}}}.  Use the pages as a guide to see how it's suppose to look like one another -->


            <div class="container">

                <!-- CHANGE THIS AREA FOR THE PAGES -->

                {{{body}}}

                <!-- END OF CHANGE OF PAGES -->

            </div>



            <!--
            <div class="container" style="background-color:#f1f1f1">
                <button type="button" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
            -->
        </form>

        <p>Copyright | About Us | Contact Us</p>

    </body>
</html>
