<html lang="en">

    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Language of the ASCII -->
        <meta charset="UTF-8" />

        <!-- Using style sheet.  Overall style -->
        <link rel="stylesheet" href="css/style.css">

        <link rel="stylesheet" href="css/checkout.css">

        <link rel="stylesheet" href="css/search.css">
        <link rel="stylesheet" href="css/product-card.css">



        <!-- Apple created a meta element to address mobile screen -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>
            Shopping Site
        </title>
        <!-- Start of the top page -->

        <!-- Header is fine -->
        <header>
            <div class="toppage">
                <div class="logolink">
                    <a href="http://localhost:3000/main"><img src="../images/logo.jpg" alt="Logo"></a>
                </div>

                <div class="search-container">
                    <form action="/action_page.php">
                        <!-- Search Bar Properties -->
                        <div class="topnav">
                            <input type="text" placeholder="Search..">
                        </div>
    
                    </form>    
                    <img src="../images/search.png" height="50">

                </div>

                <div class="signin">
                    <p>Hello!</p> 
                    <p><a>Sign In</a> or <a>Register Here!</a></p>
                </div>

                <!-- Logo of the Cart -->
                <img src="../images/cart.jpg" alt="cart" height="50"></img>
    
            </div>
    
            <!-- Start of the Navigation Bar -->
            <div class="navbar">
                <nav>
                    <!-- Making an unordered list for the top section -->
                        <ul>
                        <!--Four Words on the top: "About Me" "Work" "Contact Me" "Resume" -->
                    
                        <!-- About Me Section -->
                            <li>
                                <a href = "#about-me">New Arrivals</a>
                            </li>
                            <!-- Work Section -->
                            <li>
                                <a href = "#work-section">Cosplays</a>
                            </li>
                            <!-- Contact Us Section -->
                            <li>
                                <a href = "#contact-me-section">Weapons</a>
                            </li>
                            <!-- Resume Section -->
                            <li>
                                <a href = "./assets/files/Edgardo Lopez Resume Software PDF File.pdf">Title of Anime</a>
                            </li>
                        </ul>
                </nav>    
            </div>
        </header>
        <!-- Header is fine for now. -->

        <body>

            <div class="background-products">
                {{{body}}}
            </div>
                    <div class="bottom-section">
            <div>
                <p>Copyright | About Us | Contact Us</p>
            </div>
    
            <div class="image-grouping">
                <img src="../images/paypal.png" alt="PayPal" height="50">
                <img src="../images/american-express.png" alt="American Express" height="50">
                <img src="../images/visa.png" alt="Visa" height="50">
            </div>    
        </div>


        </body>

    
    </head>


</html>