            <div class="products-box">
                <!-- We have two windows:  Products that are being sold and the Checkout -->
                <!-- Have the handlebars take care of this section -->
                <div class = "checkout-box-length">

                    <!-- Top Row Text -->
                    <div class="checkout-section-info">
                        <h2>Shopping Cart</h2>
                        <p>Price</p>    
                    </div>


                    <!-- <div> -->
                        <!-- Products that are being sold -->
                        <div class="shopping-section-products">
        
    
                            <!-- Insert first files here -->
                            <!--\assets\images\dummy-pictures-->
                            <!-- All of it, including images, description, here -->


                            <div class="product-section">

                                <div class="product-details">
                                    <div class="photosize">
                
                                        <img src = "../images/swordsample.jpg" alt="Sword Sample" class="photochecktout">
                                            <!-- I'm making an attempt to color the overall picture here -->
                    
                    
                                        
                    
                                    </div>
        
                                    <div class="text-box">
                                        <h3>
                                           Title of the Product will be here
                                        </h3>
                                        <br/>
                                        <p>
                                            This is going to be a summary of the product if we choose to have it display here.
                                        </p>
                                        <br/>
                                    </div>
                                    
        
                                </div>
    
                                <!-- Price Section Right Indent -->
                                <div>
                                    <p>$15.99</p>
                                </div>
    
                            </div>

                            <div class="product-section">

                                <div class="product-details">
                                    <div class="photosize">
                
                                        <img src = "../images/swordsample.jpg" alt="Sword Sample" class="photochecktout">
                                            <!-- I'm making an attempt to color the overall picture here -->
                    
                    
                                        
                    
                                    </div>
        
                                    <div class="text-box">
                                        <h3>
                                           Title of the Product will be here
                                        </h3>
                                        <br/>
                                        <p>
                                            This is going to be a summary of the product if we choose to have it display here.
                                        </p>
                                        <br/>
                                    </div>
                                    
        
                                </div>
    
                                <!-- Price Section Right Indent -->
                                <div>
                                    <p>$15.99</p>
                                </div>
    
                            </div>

                            <div class="product-section">

                                <div class="product-details">
                                    <div class="photosize">
                
                                        <img src = "../images/swordsample.jpg" alt="Sword Sample" class="photochecktout">
                                            <!-- I'm making an attempt to color the overall picture here -->
                    
                    
                                        
                    
                                    </div>
        
                                    <div class="text-box">
                                        <h3>
                                           Title of the Product will be here
                                        </h3>
                                        <br/>
                                        <p>
                                            This is going to be a summary of the product if we choose to have it display here.
                                        </p>
                                        <br/>
                                    </div>
                                    
        
                                </div>
    
                                <!-- Price Section Right Indent -->
                                <div>
                                    <p>$15.99</p>
                                </div>
    
                            </div>


        
                            
                        </div>
                    
    
                    <!-- </div> -->

                    <div class="subtotal-section">
                        <!-- Have the total price add up here as well as a message saying the subtotal with the number of products.  Use the ${} funcation -->
                        <div>
                            <h3>
                                Total Cost:
                            </h3>
                        </div>
                        <div>
                            <p>Price</p>
                        </div>

                    </div>
    
    
        
                </div>    


                <!-- Checkout Button Window -->
                <div class="checkout-window">
                    <p class="align-left">Checkout Section</p>
                    <p>Price</p>
                    
                    <button type="checkout"><a href="http://localhost:3001/checkout">Checkout</a></button>
                    
                </div>

    
            </div>
