            <div class="search-preferences">
                <p>Possible Sort (Prices, Name, Etc)</p>
                <p>Search Amount</p>
            </div>

            <div class="products-group">
                <div class="work-card">
    

                    <!-- Insert first files here -->
                    <!--\assets\images\dummy-pictures-->
                    <div class="photo">
    
                        <img src = "../images/swordsample.jpg" alt="Sword Sample" class="resizephoto">
                            <!-- I'm making an attempt to color the overall picture here -->
    
    
                        
    
                    </div>
                    <div class="text-box">
                        <h3>
                           Title of the Product will be here
                        </h3>
                        <br/>
                        <p>
                            This is going to be a summary of the product if we choose to have it display here.
                        </p>
                        <br/>
                        <p>
                            Price: $5.00
                        </p>
                    </div>

                    
                </div>

                <div class="work-card">
    

                    <!-- Insert first files here -->
                    <!--\assets\images\dummy-pictures-->
                    <div class="photo">
    
                        <img src = "../images/swordsample.jpg" alt="Sword Sample" class="resizephoto">
                            <!-- I'm making an attempt to color the overall picture here -->
    
    
                        
    
                    </div>
                    <div class="text-box">
                        <h3>
                           Title of the Product will be here
                        </h3>
                        <br/>
                        <p>
                            This is going to be a summary of the product if we choose to have it display here.
                        </p>
                        <br/>
                        <p>
                            Price: $5.00
                        </p>
                    </div>

                    
                </div>
                
                <div class="work-card">
    

                    <!-- Insert first files here -->
                    <!--\assets\images\dummy-pictures-->
                    <div class="photo">
    
                        <img src = "../images/swordsample.jpg" alt="Sword Sample" class="resizephoto">
                            <!-- I'm making an attempt to color the overall picture here -->
    
    
                        
    
                    </div>
                    <div class="text-box">
                        <h3>
                           Title of the Product will be here
                        </h3>
                        <br/>
                        <p>
                            This is going to be a summary of the product if we choose to have it display here.
                        </p>
                        <br/>
                        <p>
                            Price: $5.00
                        </p>
                    </div>

                    
                </div>


    
    
            </div>
